*{
    padding: 0px;
    margin: 0px;
}
.twodiff{
    width: 100%;
    background-color: rgb(248, 248, 153);
}
.some{
    width: 100%;
    display: table;
    clear: both;
}
.sometwo{
margin: 10px 50px;
}
.middle{
    float: left;
}
.middle ul li{
    display: inline-block;
    margin: 10px;
    font-weight: 600;
}
.right{
    float: right;
}
.right .tree{
    float: left;
    margin: 10px 20px;
}
.tree p{
    float: left;
    
}
.tree button{
  font-size: px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(38, 0, 254);
  color: aliceblue;
 
}
.tree button:hover{
transform: scale(140%,140%);
transition: 0.5s; 
}

/* india flag */

.nextbar{
    width: 100%;
    background-color: rgb(245, 222, 131);
}
.treebar{
    width: 100%;
    display: table;
    clear: both;
}
.totalbar{
    margin: 0px 100px;
}
.somebar{
    float: left;
}
.somebar ul li{
    
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    color: rgb(7, 122, 223);
}
.somebar ul li:hover{
    transform: scale(140%,140%);
    transition: 0.5s;

}
.somebar {
    
    display: inline-block;
    margin: 10px 80px;
    padding-left: 80px;
    
}
.somebar img{
    float: left;  
    margin-top: 0px;
    margin-left: 15px;
}

/* backimg */

.backimg{
    width: 100%;
}
.totalimg img{
    width: 100%;
    height: 700px;
    position: relative;
}
.middleoo{
    position: absolute;
    transform: translate(30%,-200%);
}
.middleoo h4{
   font-size: 40px;
   color: aliceblue;
   margin: 20px 0;
}
.middleoo h5{
     font-size: 20px;
     margin: 10px 0;
     color: aliceblue;
}
.middleoo p{
    font-size: 15px;
    color: aliceblue;
    margin: 10px 0;
}
.middleoo button{
   font-size: 20px;
   padding: 10px;
   border-radius: 10px;
   border: none;
   margin: 20px 0;
   background-color: rgb(232, 212, 0);
   color: rgb(6, 11, 16);
   font-weight: 600;
}
.middleoo button:hover{
     background-image: linear-gradient(rgb(72, 255, 31),rgb(56, 56, 242));
}
span{
    color: rgb(0, 240, 240);
}

@media only screen and (max-width: 500px) {
    body {
      background-color: rgb(30, 233, 226);
    }
  }






